In [1]:
import sys
sys.path.append("../source")

from Match_Analytics import Match

# Match initialization

To initialize a match and preprocess the tracking data you must instantiate an object Match() indicating the data source, the match id and optional additional arguments. Following that the method preprocess() can be called on the Match() object.

In [4]:
match_1 = Match(data_source = 'metrica-sports', match_id = 1, name = "Sample_Game_1", field_dimen=(106., 68.))

# Initially the dataframe values are raw from the source, to preprocess the data a method must be called:
match_2 = Match('metrica-sports',2).preprocess() # Minimum number of positional arguments: (data_source, match_id)

Reading team: home
Reading team: away
Reading team: home
Reading team: away

In [5]:
match_1.preprocess()

match_1.tracking_home

,Period,Time [s],Home_11_x,Home_11_y,Home_1_x,Home_1_y,Home_2_x,Home_2_y,Home_3_x,Home_3_y,...,Home_10_x,Home_10_y,Home_12_x,Home_12_y,Home_13_x,Home_13_y,Home_14_x,Home_14_y,ball_x,ball_y
Frame,,,,,,,,,,,,,,,,,,,,,
1,1,0.04,-52.91308,1.19816,-18.39312,-10.41896,-17.27694,0.77316,-20.21738,9.84028,...,5.55758,4.57708,NaN,NaN,NaN,NaN,NaN,NaN,-4.79968,7.67788
2,1,0.08,-52.89824,1.19816,-18.39312,-10.41896,-17.27694,0.77316,-20.21738,9.84028,...,5.55758,4.57708,NaN,NaN,NaN,NaN,NaN,NaN,-0.37630,6.35392
3,1,0.12,-52.87916,1.19816,-18.39312,-10.41896,-17.27694,0.77316,-20.21738,9.84028,...,5.55758,4.57708,NaN,NaN,NaN,NaN,NaN,NaN,3.93896,5.06192
4,1,0.16,-52.87174,1.19816,-18.42068,-10.41556,-17.29178,0.68816,-20.19936,9.82328,...,5.55016,4.54716,NaN,NaN,NaN,NaN,NaN,NaN,5.66676,5.28292
5,1,0.20,-52.86326,1.19816,-18.44718,-10.38292,-17.31616,0.66776,-20.19512,9.84096,...,5.51412,4.54852,NaN,NaN,NaN,NaN,NaN,NaN,5.84272,6.41240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145002,2,5800.08,-43.05084,3.15860,NaN,NaN,16.79358,-9.92664,19.89832,-11.90884,...,NaN,NaN,21.15336,-12.45148,17.33736,-10.46520,16.79358,-9.92664,NaN,NaN
145003,2,5800.12,-42.98300,3.15860,NaN,NaN,16.82538,-9.91644,19.89620,-11.91972,...,NaN,NaN,21.15336,-12.45148,17.32464,-10.47064,16.82538,-9.91644,NaN,NaN
145004,2,5800.16,-42.92152,3.15860,NaN,NaN,16.86566,-9.90692,19.91316,-11.90068,...,NaN,NaN,21.15336,-12.45148,17.34478,-10.44888,16.86566,-9.90692,NaN,NaN
145005,2,5800.20,-42.88336,3.15792,NaN,NaN,16.90064,-9.89536,19.95874,-11.87824,...,NaN,NaN,21.15336,-12.45148,17.36810,-10.41556,16.90064,-9.89536,NaN,NaN
145006,2,5800.24,-42.88336,3.15792,NaN,NaN,16.96424,-9.88992,20.01068,-11.92176,...,NaN,NaN,21.15336,-12.45148,17.42322,-10.31288,16.96424,-9.88992,NaN,NaN

In [13]:
match_1.tracking_away

,Period,Time [s],Away_25_x,Away_25_y,Away_15_x,Away_15_y,Away_16_x,Away_16_y,Away_17_x,Away_17_y,...,Away_24_x,Away_24_y,Away_26_x,Away_26_y,Away_27_x,Away_27_y,Away_28_x,Away_28_y,ball_x,ball_y
Frame,,,,,,,,,,,,,,,,,,,,,
1,1,0.04,42.93954,1.72584,8.89658,19.86008,18.71748,2.23720,18.34860,-18.00368,...,-12.89702,15.37956,NaN,NaN,NaN,NaN,NaN,NaN,-4.79968,7.67788
2,1,0.08,42.92364,1.72584,8.89658,19.86008,18.71748,2.23720,18.34860,-18.00368,...,-12.89702,15.37956,NaN,NaN,NaN,NaN,NaN,NaN,-0.37630,6.35392
3,1,0.12,42.86004,1.72516,8.89658,19.86008,18.71748,2.23720,18.34860,-18.00368,...,-12.89702,15.37956,NaN,NaN,NaN,NaN,NaN,NaN,3.93896,5.06192
4,1,0.16,42.79962,1.72516,8.85206,19.80976,18.69840,2.20184,18.31574,-18.04856,...,-12.97864,15.31836,NaN,NaN,NaN,NaN,NaN,NaN,5.66676,5.28292
5,1,0.20,42.74344,1.72448,8.78846,19.69348,18.65494,2.19708,18.28818,-18.06352,...,-13.07722,15.27076,NaN,NaN,NaN,NaN,NaN,NaN,5.84272,6.41240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145002,2,5800.08,39.68216,-3.66248,34.05144,-4.64168,25.63292,-6.76736,42.52720,-28.82588,...,NaN,NaN,15.26400,-3.65228,31.97384,3.30684,29.89412,-21.13372,NaN,NaN
145003,2,5800.12,39.68216,-3.66248,34.09172,-4.57436,25.65306,-6.79932,42.52720,-28.82588,...,NaN,NaN,15.28202,-3.59244,31.97914,3.27624,29.89412,-21.13372,NaN,NaN
145004,2,5800.16,39.68216,-3.66248,34.14048,-4.54376,25.69758,-6.81292,42.52720,-28.82588,...,NaN,NaN,15.30534,-3.57272,32.00670,3.26400,29.89412,-21.13372,NaN,NaN
145005,2,5800.20,39.68216,-3.66248,34.20620,-4.50228,25.73574,-6.86052,42.52720,-28.82588,...,NaN,NaN,15.33608,-3.56524,32.04804,3.23884,29.89412,-21.13372,NaN,NaN
145006,2,5800.24,39.68216,-3.66248,34.24542,-4.53900,25.80146,-6.84896,42.52720,-28.82588,...,NaN,NaN,15.37530,-3.64752,32.06076,3.15248,29.89412,-21.13372,NaN,NaN

In [14]:
match_1.events

,Team,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
0,Away,SET PIECE,KICK OFF,1,1,0.04,0,0.00,Player19,NaN,NaN,NaN,NaN,NaN
1,Away,PASS,NaN,1,1,0.04,3,0.12,Player19,Player21,-5.30,7.48,5.30,4.76
2,Away,PASS,NaN,1,3,0.12,17,0.68,Player21,Player15,5.30,4.76,8.48,19.72
3,Away,PASS,NaN,1,45,1.80,61,2.44,Player15,Player19,5.30,21.08,-5.30,12.92
4,Away,PASS,NaN,1,77,3.08,96,3.84,Player19,Player21,-5.30,12.24,-1.06,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,Home,PASS,NaN,2,143361,5734.44,143483,5739.32,Player12,Player13,-10.60,11.56,32.86,-30.60
1741,Home,PASS,NaN,2,143578,5743.12,143593,5743.72,Player13,Player4,43.46,-25.84,38.16,-12.92
1742,Home,BALL LOST,INTERCEPTION,2,143598,5743.92,143618,5744.72,Player4,NaN,39.22,-12.92,45.58,-7.48
1743,Away,RECOVERY,BLOCKED,2,143617,5744.68,143617,5744.68,Player16,NaN,47.70,-8.16,NaN,NaN
1744,Away,BALL OUT,NaN,2,143622,5744.88,143630,5745.20,Player16,NaN,47.70,-8.84,49.82,-34.68